USE [teknik_servis]
GO
/****** Object:  Table [dbo].[Cihazlar]    Script Date: 14.08.2022 15:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cihazlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cihaz_kod] [nvarchar](50) NULL,
	[musteri_kod] [nvarchar](20) NULL,
	[musteri_adi] [nvarchar](255) NOT NULL,
	[adres] [nvarchar](255) NOT NULL,
	[gsm_mail] [nvarchar](255) NOT NULL,
	[cihaz_turu] [int] NOT NULL,
	[sorumlu] [int] NOT NULL,
	[cihaz] [nvarchar](255) NOT NULL,
	[cihaz_modeli] [nvarchar](255) NOT NULL,
	[seri_no] [nvarchar](255) NOT NULL,
	[cihaz_sifresi] [nvarchar](50) NULL,
	[hasar_tespiti] [nvarchar](255) NOT NULL,
	[cihazdaki_hasar] [tinyint] NOT NULL,
	[ariza_aciklamasi] [text] NOT NULL,
	[servis_turu] [tinyint] NOT NULL,
	[yedek_durumu] [tinyint] NOT NULL,
	[tasima_cantasi] [tinyint] NOT NULL,
	[sarj_adaptoru] [tinyint] NOT NULL,
	[pil] [tinyint] NOT NULL,
	[diger_aksesuar] [nvarchar](255) NOT NULL,
	[yapilan_islem_aciklamasi] [text] NULL,
	[tarih] [datetime] NOT NULL,
	[bildirim_tarihi] [datetime] NULL,
	[cikis_tarihi] [datetime] NULL,
	[guncel_durum] [tinyint] NOT NULL,
	[i_stok_kod_1] [nvarchar](50) NULL,
	[i_ad_1] [nvarchar](255) NULL,
	[i_birim_fiyat_1] [decimal](28, 2) NOT NULL,
	[i_miktar_1] [int] NOT NULL,
	[i_kdv_1] [decimal](5, 2) NOT NULL,
	[i_stok_kod_2] [nvarchar](50) NULL,
	[i_ad_2] [nvarchar](255) NULL,
	[i_birim_fiyat_2] [decimal](28, 2) NOT NULL,
	[i_miktar_2] [int] NOT NULL,
	[i_kdv_2] [decimal](5, 2) NOT NULL,
	[i_stok_kod_3] [nvarchar](50) NULL,
	[i_ad_3] [nvarchar](255) NULL,
	[i_birim_fiyat_3] [decimal](28, 2) NOT NULL,
	[i_miktar_3] [int] NOT NULL,
	[i_kdv_3] [decimal](5, 2) NOT NULL,
	[i_stok_kod_4] [nvarchar](50) NULL,
	[i_ad_4] [nvarchar](255) NULL,
	[i_birim_fiyat_4] [decimal](28, 2) NOT NULL,
	[i_miktar_4] [int] NOT NULL,
	[i_kdv_4] [decimal](5, 2) NOT NULL,
	[i_stok_kod_5] [nvarchar](50) NULL,
	[i_ad_5] [nvarchar](255) NULL,
	[i_birim_fiyat_5] [decimal](28, 2) NOT NULL,
	[i_miktar_5] [int] NOT NULL,
	[i_kdv_5] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Cihazlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CihazTurleri]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CihazTurleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](255) NOT NULL,
	[sifre] [tinyint] NOT NULL,
 CONSTRAINT [PK_CihazTurleri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adi] [nvarchar](50) NOT NULL,
	[ad_soyad] [nvarchar](100) NOT NULL,
	[sifre] [nvarchar](255) NOT NULL,
	[yonetici] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medyalar]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medyalar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cihaz_id] [int] NOT NULL,
	[konum] [nvarchar](255) NOT NULL,
	[tur] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Medyalar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilinenCihazlar]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilinenCihazlar](
	[id] [int] NOT NULL,
	[silinme_tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_SilinenCihazla] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  CONSTRAINT [DF_Cihazlar_guncel_durum]  DEFAULT ((0)) FOR [guncel_durum]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_birim_fiyat_1]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_miktar_1]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_kdv_1]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_birim_fiyat_2]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_miktar_2]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_kdv_2]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_birim_fiyat_3]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_miktar_3]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_kdv_3]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_birim_fiyat_4]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_miktar_4]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_kdv_4]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_birim_fiyat_5]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_miktar_5]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT ((0)) FOR [i_kdv_5]
GO
ALTER TABLE [dbo].[CihazTurleri] ADD  DEFAULT ((0)) FOR [sifre]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_yonetici]  DEFAULT ((0)) FOR [yonetici]
GO
ALTER TABLE [dbo].[SilinenCihazlar] ADD  CONSTRAINT [DF_SilinenCihazlar_silinme_tarihi]  DEFAULT (getdate()) FOR [silinme_tarihi]
GO
/****** Object:  Trigger [dbo].[AfterDeletedCihazlar]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create trigger [dbo].[AfterDeletedCihazlar] on [dbo].[Cihazlar]
after delete
as
IF NOT EXISTS(SELECT * FROM SilinenCihazlar WHERE id in (select id from deleted))
begin 
  INSERT INTO SilinenCihazlar(id)
        SELECT d.id
        FROM Deleted d
end
GO
ALTER TABLE [dbo].[Cihazlar] ENABLE TRIGGER [AfterDeletedCihazlar]
GO
/****** Object:  Trigger [dbo].[AfterInsertCihazlar]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AfterInsertCihazlar] ON [dbo].[Cihazlar]
AFTER INSERT
AS
BEGIN

    DECLARE @kod NVARCHAR(20)
    SELECT @kod = CAST(YEAR(GETDATE()) AS NVARCHAR(4))

    DECLARE @max NVARCHAR(20)
    SELECT @max = cihaz_kod FROM dbo.Cihazlar chz WHERE chz.cihaz_kod LIKE @kod + '%'

    ;WITH CTE_UPD AS 
    (
        SELECT REPLICATE('0', 6-LEN(CAST(COALESCE(CAST(RIGHT(@max,6) AS INT),0) + ROW_NUMBER() OVER (ORDER BY ins.id) AS NVARCHAR(6)))) + CAST(COALESCE(CAST(RIGHT(@max,6) AS INT),0) + ROW_NUMBER() OVER (ORDER BY ins.id) AS NVARCHAR(6)) AS yeniKod, id
        FROM INSERTED ins

    )
    UPDATE ch
    SET ch.cihaz_kod = @kod + yeniKod 
    FROM dbo.Cihazlar ch
    INNER JOIN CTE_UPD ins ON ins.id = ch.id

END
GO
ALTER TABLE [dbo].[Cihazlar] ENABLE TRIGGER [AfterInsertCihazlar]
GO
/****** Object:  Trigger [dbo].[AfterInsertedSilinenCihazlar]    Script Date: 14.08.2022 15:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[AfterInsertedSilinenCihazlar] on [dbo].[SilinenCihazlar]
after insert
as
begin 
  DELETE FROM SilinenCihazlar WHERE silinme_tarihi < dateadd(day,-1,getdate())

end
GO
ALTER TABLE [dbo].[SilinenCihazlar] ENABLE TRIGGER [AfterInsertedSilinenCihazlar]
GO
