USE [teknik_servis]
GO
/****** Object:  Table [dbo].[CihazDurumu]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CihazDurumu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cihaz_id] [int] NOT NULL,
	[durum] [text] NOT NULL,
	[tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_CihazDurumu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cihazlar]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cihazlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_adi] [nvarchar](255) NOT NULL,
	[adres] [nvarchar](255) NOT NULL,
	[gsm_mail] [nvarchar](255) NOT NULL,
	[cihaz_turu] [int] NOT NULL,
	[cihaz] [nvarchar](255) NOT NULL,
	[cihaz_modeli] [nvarchar](255) NOT NULL,
	[seri_no] [nvarchar](255) NOT NULL,
	[hasar_tespiti] [nvarchar](255) NOT NULL,
	[cihazdaki_hasar] [tinyint] NOT NULL,
	[ariza_aciklamasi] [nvarchar](255) NOT NULL,
	[servis_turu] [tinyint] NOT NULL,
	[yedek_durumu] [tinyint] NOT NULL,
	[tasima_cantasi] [tinyint] NOT NULL,
	[sarj_adaptoru] [tinyint] NOT NULL,
	[pil] [tinyint] NOT NULL,
	[diger_aksesuar] [nvarchar](255) NOT NULL,
	[yapilan_islem_aciklamasi] [varchar](255) NULL,
	[teslim_edildi] [tinyint] NOT NULL,
	[tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_Cihazlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CihazTurleri]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CihazTurleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CihazTurleri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciCihazTurleri]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciCihazTurleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[cihaz_turu_id] [int] NOT NULL,
 CONSTRAINT [PK_KullaniciCihazTurleri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adi] [varchar](50) NOT NULL,
	[ad] [varchar](50) NOT NULL,
	[soyad] [varchar](50) NOT NULL,
	[sifre] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilinenCihazlar]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilinenCihazlar](
	[id] [int] NOT NULL,
	[musteri_adi] [nvarchar](255) NOT NULL,
	[adres] [nvarchar](255) NOT NULL,
	[gsm_mail] [nvarchar](255) NOT NULL,
	[cihaz_turu] [int] NOT NULL,
	[cihaz] [nvarchar](255) NOT NULL,
	[cihaz_modeli] [nvarchar](255) NOT NULL,
	[seri_no] [nvarchar](255) NOT NULL,
	[hasar_tespiti] [nvarchar](255) NOT NULL,
	[cihazdaki_hasar] [tinyint] NOT NULL,
	[ariza_aciklamasi] [nvarchar](255) NOT NULL,
	[servis_turu] [tinyint] NOT NULL,
	[yedek_durumu] [tinyint] NOT NULL,
	[tasima_cantasi] [tinyint] NOT NULL,
	[sarj_adaptoru] [tinyint] NOT NULL,
	[pil] [tinyint] NOT NULL,
	[diger_aksesuar] [nvarchar](255) NOT NULL,
	[yapilan_islem_aciklamasi] [varchar](255) NULL,
	[teslim_edildi] [tinyint] NOT NULL,
	[tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_SilinenCihazla] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YapilanIslemler]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YapilanIslemler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cihaz_id] [int] NOT NULL,
	[islem] [nvarchar](255) NOT NULL,
	[miktar] [int] NOT NULL,
	[birim_fiyati] [int] NOT NULL,
	[tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_YapilanIslemler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CihazDurumu] ADD  CONSTRAINT [DF_CihazDurumu_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  CONSTRAINT [DF_Cihazlar_teslim_edildi]  DEFAULT ((0)) FOR [teslim_edildi]
GO
ALTER TABLE [dbo].[Cihazlar] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[YapilanIslemler] ADD  CONSTRAINT [DF_YapilanIslemler_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
/****** Object:  Trigger [dbo].[AfterDeletedCihazlar]    Script Date: 28.07.2022 12:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create trigger [dbo].[AfterDeletedCihazlar] on [dbo].[Cihazlar]
after delete
as
IF NOT EXISTS(SELECT * FROM SilinenCihazlar WHERE id in (select id from deleted))
begin 
  INSERT INTO SilinenCihazlar(id, musteri_adi, adres,gsm_mail, cihaz_turu, cihaz, cihaz_modeli,seri_no, hasar_tespiti, cihazdaki_hasar, ariza_aciklamasi,servis_turu,yedek_durumu,tasima_cantasi,sarj_adaptoru,pil,diger_aksesuar,yapilan_islem_aciklamasi, teslim_edildi, tarih)
        SELECT d.id, d.musteri_adi, d.adres,d.gsm_mail, d.cihaz_turu, d.cihaz, d.cihaz_modeli,d.seri_no,d.hasar_tespiti, d.cihazdaki_hasar, d.ariza_aciklamasi,d.servis_turu,d.yedek_durumu,d.tasima_cantasi,d.sarj_adaptoru,d.pil,d.diger_aksesuar,d.yapilan_islem_aciklamasi, d.teslim_edildi, d.tarih
        FROM Deleted d
end
GO
ALTER TABLE [dbo].[Cihazlar] ENABLE TRIGGER [AfterDeletedCihazlar]
GO
