-- phpMyAdmin SQL Dump
-- version 5.2.1
-- https://www.phpmyadmin.net/
--
-- Anamakine: localhost
-- Üretim Zamanı: 21 Ara 2024, 19:45:51
-- Sunucu sürümü: 5.7.44
-- PHP Sürümü: 7.2.34

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Veritabanı: `biltekbi_lisim`
--

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_ayarlar`
--

CREATE TABLE `ts1_ayarlar` (
  `id` int(11) NOT NULL,
  `site_basligi` varchar(255) CHARACTER SET utf8 NOT NULL,
  `firma_url` varchar(255) CHARACTER SET utf8 NOT NULL,
  `sirket_unvani` varchar(255) COLLATE utf8_turkish_ci DEFAULT '',
  `adres` text COLLATE utf8_turkish_ci NOT NULL,
  `sirket_telefonu` varchar(255) COLLATE utf8_turkish_ci NOT NULL,
  `tablo_oge` int(11) NOT NULL,
  `barkod_ad` varchar(255) COLLATE utf8_turkish_ci NOT NULL DEFAULT '',
  `barkod_en` int(11) NOT NULL,
  `barkod_boy` int(11) NOT NULL,
  `barkod_boyutu` int(11) NOT NULL,
  `barkod_numarasi_boyutu` int(11) NOT NULL,
  `barkod_musteri_adi_boyutu` int(11) NOT NULL,
  `barkod_sirket_adi_boyutu` int(11) NOT NULL
  `app_version` VARCHAR(10) NOT NULL DEFAULT '0.0.1',
  `tema` INT(11) NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_turkish_ci;

--
-- Tablo döküm verisi `ts1_ayarlar`
--

INSERT INTO `ts1_ayarlar` (`id`, `site_basligi`, `firma_url`, `sirket_unvani`, `adres`, `sirket_telefonu`, `tablo_oge`, `barkod_ad`, `barkod_en`, `barkod_boy`, `barkod_boyutu`, `barkod_numarasi_boyutu`, `barkod_musteri_adi_boyutu`, `barkod_sirket_adi_boyutu`, `app_version`, `tema`) VALUES
(1, 'Biltek Bilgisayar Teknik Servis', 'http://www.biltekbilgisayar.com.tr/', 'BİLTEK OFİS ve BİLİŞİM SİSTEMLERİ SAN. TİC. LTD. ŞTİ.', 'Güzelhisar Mahallesi, 7 Eylül Caddesi, No: 16/A, Efeler/AYDIN', '+90 (544) 397-0992', 50, 'Biltek Bilgisayar', 40, 20, 14, 12, 12, 10, '0.3.5', 0);

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_cihazdurumlari`
--

CREATE TABLE `ts1_cihazdurumlari` (
  `id` int(11) NOT NULL,
  `siralama` int(11) NOT NULL,
  `durum` varchar(255) CHARACTER SET utf8 NOT NULL,
  `renk` varchar(255) COLLATE utf8_turkish_ci NOT NULL,
  `kilitle` tinyint(1) NOT NULL DEFAULT '0',
  `varsayilan` tinyint(4) NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_turkish_ci;

--
-- Tablo döküm verisi `ts1_cihazdurumlari`
--


-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_cihazlar`
--

CREATE TABLE `ts1_cihazlar` (
  `id` int(11) NOT NULL,
  `servis_no` varchar(50) DEFAULT NULL,
  `takip_numarasi` int(11) NOT NULL,
  `musteri_kod` int(11) DEFAULT NULL,
  `musteri_adi` varchar(255) NOT NULL,
  `teslim_eden` varchar(255) NOT NULL DEFAULT '',
  `teslim_alan` varchar(255) NOT NULL DEFAULT '',
  `adres` varchar(255) NOT NULL,
  `telefon_numarasi` varchar(255) NOT NULL,
  `cihaz_turu` int(11) NOT NULL,
  `sorumlu` int(11) NOT NULL DEFAULT '0',
  `cihaz` varchar(255) NOT NULL,
  `cihaz_modeli` varchar(255) NOT NULL,
  `seri_no` varchar(255) NOT NULL,
  `cihaz_sifresi` varchar(50) DEFAULT NULL,
  `cihaz_deseni` varchar(100) NOT NULL DEFAULT '',
  `cihaz_deseni_actives` varchar(100) NOT NULL DEFAULT '',
  `cihaz_deseni_lines` varchar(100) NOT NULL DEFAULT '',
  `hasar_tespiti` varchar(255) NOT NULL,
  `cihazdaki_hasar` int(11) NOT NULL,
  `ariza_aciklamasi` longtext,
  `servis_turu` int(11) NOT NULL,
  `yedek_durumu` int(11) NOT NULL,
  `teslim_alinanlar` longtext,
  `yapilan_islem_aciklamasi` longtext,
  `teslim_edildi` int(11) NOT NULL DEFAULT '0',
  `tarih` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `bildirim_tarihi` datetime DEFAULT NULL,
  `cikis_tarihi` datetime DEFAULT NULL,
  `guncel_durum` int(11) NOT NULL DEFAULT '1',
  `tahsilat_sekli` int(11) NOT NULL DEFAULT '0',
  `fatura_durumu` tinyint(1) NOT NULL DEFAULT '0',
  `fis_no` varchar(50) NOT NULL DEFAULT '',
  `i_stok_kod_1` varchar(50) DEFAULT NULL,
  `i_ad_1` varchar(255) DEFAULT NULL,
  `i_birim_fiyat_1` decimal(28,2) NOT NULL DEFAULT '0.00',
  `i_miktar_1` int(11) NOT NULL DEFAULT '0',
  `i_kdv_1` decimal(5,2) NOT NULL DEFAULT '0.00',
  `i_stok_kod_2` varchar(50) DEFAULT NULL,
  `i_ad_2` varchar(255) DEFAULT NULL,
  `i_birim_fiyat_2` decimal(28,2) NOT NULL DEFAULT '0.00',
  `i_miktar_2` int(11) NOT NULL DEFAULT '0',
  `i_kdv_2` decimal(5,2) NOT NULL DEFAULT '0.00',
  `i_stok_kod_3` varchar(50) DEFAULT NULL,
  `i_ad_3` varchar(255) DEFAULT NULL,
  `i_birim_fiyat_3` decimal(28,2) NOT NULL DEFAULT '0.00',
  `i_miktar_3` int(11) NOT NULL DEFAULT '0',
  `i_kdv_3` decimal(5,2) NOT NULL DEFAULT '0.00',
  `i_stok_kod_4` varchar(50) DEFAULT NULL,
  `i_ad_4` varchar(255) DEFAULT NULL,
  `i_birim_fiyat_4` decimal(28,2) NOT NULL DEFAULT '0.00',
  `i_miktar_4` int(11) NOT NULL DEFAULT '0',
  `i_kdv_4` decimal(5,2) NOT NULL DEFAULT '0.00',
  `i_stok_kod_5` varchar(50) DEFAULT NULL,
  `i_ad_5` varchar(255) DEFAULT NULL,
  `i_birim_fiyat_5` decimal(28,2) NOT NULL DEFAULT '0.00',
  `i_miktar_5` int(11) NOT NULL DEFAULT '0',
  `i_kdv_5` decimal(5,2) NOT NULL DEFAULT '0.00',
  `i_stok_kod_6` varchar(50) DEFAULT NULL,
  `i_ad_6` varchar(255) DEFAULT NULL,
  `i_birim_fiyat_6` decimal(28,2) NOT NULL DEFAULT '0.00',
  `i_miktar_6` int(11) NOT NULL DEFAULT '0',
  `i_kdv_6` decimal(5,2) NOT NULL DEFAULT '0.00'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_cihazturleri`
--

CREATE TABLE `ts1_cihazturleri` (
  `id` int(11) NOT NULL,
  `isim` varchar(255) NOT NULL,
  `sifre` tinyint(3) UNSIGNED NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Tablo döküm verisi `ts1_cihazturleri`
--

INSERT INTO `ts1_cihazturleri` (`id`, `isim`, `sifre`) VALUES
(1, 'Bilgisayar', 1),
(2, 'Tablet - Telefon', 1),
(3, 'Yazıcı', 0),
(4, 'Çevre Birimleri', 0),
(5, 'Toner/Sarf Malzeme Teslimi', 0);

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_cihaz_ac`
--

CREATE TABLE `ts1_cihaz_ac` (
  `id` int(11) NOT NULL,
  `kullanici_id` int(11) NOT NULL,
  `servis_no` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_guncelleme`
--

CREATE TABLE `ts1_guncelleme` (
  `id` int(11) NOT NULL,
  `guncelleme_tarihi` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

--
-- Tablo döküm verisi `ts1_guncelleme`
--

INSERT INTO `ts1_guncelleme` (`id`, `guncelleme_tarihi`) VALUES
(1, 1734794710);

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_islemler`
--

CREATE TABLE `ts1_islemler` (
  `id` int(11) NOT NULL,
  `cihaz_id` int(11) NOT NULL,
  `islem_sayisi` int(1) NOT NULL,
  `ad` varchar(255) NOT NULL,
  `birim_fiyat` decimal(28,2) NOT NULL DEFAULT '0.00',
  `miktar` int(11) NOT NULL DEFAULT '0',
  `kdv` decimal(5,2) NOT NULL DEFAULT '0.00'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_kullanicilar`
--

CREATE TABLE `ts1_kullanicilar` (
  `id` int(11) NOT NULL,
  `kullanici_adi` varchar(50) DEFAULT NULL,
  `ad_soyad` varchar(100) DEFAULT NULL,
  `sifre` varchar(255) NOT NULL,
  `urunduzenleme` int(1) NOT NULL DEFAULT '0',
  `teknikservis` int(1) NOT NULL DEFAULT '1',
  `yonetici` int(10) NOT NULL DEFAULT '0',
  `tema` INT(11) NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Tablo döküm verisi `ts1_kullanicilar`
--


-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_kullanici_auth`
--

CREATE TABLE `ts1_kullanici_auth` (
  `id` int(11) NOT NULL,
  `kullanici_id` int(11) NOT NULL,
  `auth` varchar(50) NOT NULL,
  `fcmToken` varchar(255) NOT NULL DEFAULT '',
  `cihazID` VARCHAR(255) NOT NULL DEFAULT '',
  `bitis` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_medyalar`
--

CREATE TABLE `ts1_medyalar` (
  `id` int(11) NOT NULL,
  `cihaz_id` int(11) NOT NULL,
  `konum` varchar(255) NOT NULL,
  `tur` varchar(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_musteriler`
--

CREATE TABLE `ts1_musteriler` (
  `id` int(11) NOT NULL,
  `musteri_adi` varchar(255) NOT NULL,
  `adres` varchar(255) NOT NULL,
  `telefon_numarasi` varchar(255) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_ozelid`
--

CREATE TABLE `ts1_ozelid` (
  `id_adi` varchar(50) NOT NULL,
  `id_grup` varchar(10) NOT NULL,
  `id_val` int(10) UNSIGNED NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Tablo döküm verisi `ts1_ozelid`
--

INSERT INTO `ts1_ozelid` (`id_adi`, `id_grup`, `id_val`) VALUES
('2022', '2022', 638),
('2023', '2023', 1380),
('2024', '2024', 1106);

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_silinencihazlar`
--

CREATE TABLE `ts1_silinencihazlar` (
  `id` int(11) NOT NULL,
  `silinme_tarihi` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Tablo döküm verisi `ts1_silinencihazlar`
--

INSERT INTO `ts1_silinencihazlar` (`id`, `silinme_tarihi`) VALUES
(2918, '2024-12-14 10:51:21');

-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_tahsilatsekilleri`
--

CREATE TABLE `ts1_tahsilatsekilleri` (
  `id` int(11) NOT NULL,
  `isim` varchar(255) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Tablo döküm verisi `ts1_tahsilatsekilleri`
--

INSERT INTO `ts1_tahsilatsekilleri` (`id`, `isim`) VALUES
(1, 'Nakit'),
(2, 'Kredi Kartı'),
(3, 'Mail Order'),
(4, 'Açık Hesap'),
(5, 'Banka Havalesi');


--
-- Tablo için tablo yapısı `ts1_temalar`
--

CREATE TABLE `ts1_temalar` (
  `id` int(11) NOT NULL,
  `isim` varchar(255) NOT NULL DEFAULT '',
  `arkaplan` varchar(255) NOT NULL DEFAULT '',
  `yazi_rengi` varchar(255) NOT NULL DEFAULT '',
  `giris_arkaplani` varchar(255) NOT NULL DEFAULT '',
  `beyaz_arkaplan_yazi` varchar(255) NOT NULL DEFAULT '',
  `menu_icon_rengi` varchar(255) NOT NULL DEFAULT '',
  `kar_yagisi` int(1) NOT NULL DEFAULT 0,
  `onizleme_resmi` varchar(255) NOT NULL DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

--
-- Tablo döküm verisi `ts1_temalar`
--

INSERT INTO `ts1_temalar` (`id`, `isim`, `arkaplan`, `yazi_rengi`, `giris_arkaplani`, `beyaz_arkaplan_yazi`, `menu_icon_rengi`, `kar_yagisi`, `onizleme_resmi`) VALUES
(1, 'Varsayılan', '', '', '', '', '', 0, 'varsayilan.png'),
(2, 'Kış Modu', 'linear-gradient(#123, #111)', '#fff', 'rgba(170, 166, 166, 0.6)', 'black', '255, 255, 255, 1', 1, 'kis.gif');


-- --------------------------------------------------------

--
-- Tablo için tablo yapısı `ts1_urunler`
--

CREATE TABLE `ts1_urunler` (
  `id` int(11) NOT NULL,
  `isim` varchar(255) NOT NULL,
  `aciklama` text NOT NULL,
  `baglanti` text NOT NULL,
  `stokkodu` varchar(255) NOT NULL,
  `stokadeti` int(11) NOT NULL DEFAULT '0',
  `barkod` varchar(255) NOT NULL,
  `alis` decimal(28,2) NOT NULL DEFAULT '0.00',
  `satis` decimal(28,2) NOT NULL DEFAULT '0.00',
  `indirimli` decimal(28,2) NOT NULL DEFAULT '0.00',
  `kg` decimal(28,2) NOT NULL DEFAULT '0.00'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dökümü yapılmış tablolar için indeksler
--

--
-- Tablo için indeksler `ts1_ayarlar`
--
ALTER TABLE `ts1_ayarlar`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_cihazdurumlari`
--
ALTER TABLE `ts1_cihazdurumlari`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_cihazlar`
--
ALTER TABLE `ts1_cihazlar`
  ADD PRIMARY KEY (`id`),
  ADD KEY `TakipNo` (`takip_numarasi`);

--
-- Tablo için indeksler `ts1_cihazturleri`
--
ALTER TABLE `ts1_cihazturleri`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_guncelleme`
--
ALTER TABLE `ts1_guncelleme`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_islemler`
--
ALTER TABLE `ts1_islemler`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_kullanicilar`
--
ALTER TABLE `ts1_kullanicilar`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_kullanici_auth`
--
ALTER TABLE `ts1_kullanici_auth`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_medyalar`
--
ALTER TABLE `ts1_medyalar`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_musteriler`
--
ALTER TABLE `ts1_musteriler`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_ozelid`
--
ALTER TABLE `ts1_ozelid`
  ADD PRIMARY KEY (`id_adi`);

--
-- Tablo için indeksler `ts1_silinencihazlar`
--
ALTER TABLE `ts1_silinencihazlar`
  ADD PRIMARY KEY (`id`);

--
-- Tablo için indeksler `ts1_tahsilatsekilleri`
--
ALTER TABLE `ts1_tahsilatsekilleri`
  ADD PRIMARY KEY (`id`);
--
-- Tablo için indeksler `ts1_temalar`
--
ALTER TABLE `ts1_temalar`
  ADD PRIMARY KEY (`id`);
--
-- Tablo için indeksler `ts1_urunler`
--
ALTER TABLE `ts1_urunler`
  ADD PRIMARY KEY (`id`);

--
-- Dökümü yapılmış tablolar için AUTO_INCREMENT değeri
--

--
-- Tablo için AUTO_INCREMENT değeri `ts1_ayarlar`
--
ALTER TABLE `ts1_ayarlar`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_cihazdurumlari`
--
ALTER TABLE `ts1_cihazdurumlari`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=14;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_cihazlar`
--
ALTER TABLE `ts1_cihazlar`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3151;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_cihazturleri`
--
ALTER TABLE `ts1_cihazturleri`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_guncelleme`
--
ALTER TABLE `ts1_guncelleme`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_islemler`
--
ALTER TABLE `ts1_islemler`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6139;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_kullanicilar`
--
ALTER TABLE `ts1_kullanicilar`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=14;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_kullanici_auth`
--
ALTER TABLE `ts1_kullanici_auth`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_medyalar`
--
ALTER TABLE `ts1_medyalar`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=4;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_musteriler`
--
ALTER TABLE `ts1_musteriler`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=2522;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_tahsilatsekilleri`
--
ALTER TABLE `ts1_tahsilatsekilleri`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_temalar`
--
ALTER TABLE `ts1_temalar`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;

--
-- Tablo için AUTO_INCREMENT değeri `ts1_urunler`
--
ALTER TABLE `ts1_urunler`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;
COMMIT;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
